body {
    margin: 0;
    font-family: "PT Sans";
}

.footer{
    display: flex;
    font-size: 11px;
    position: fixed;
    left: 3px;
    bottom: 10px;
}

.footer a{
    color: white;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

.divider{
    color: white;
    margin-left: 2px;
    margin-right: 2px;
}

h3 {
    font-size: 1.2rem;
    font-weight: 700;
}

h4 {
    color: var(--blue);
}

a{
    cursor: pointer;
}

.ruler{
    border-top: 1px solid white;
    height: 1px;
    position: relative;
    left: 35px;
    right: 0;
    width: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container {
    padding-left: 0;
    margin-left: 164px;
    margin-right: 0 !important;
    max-width:80%;
}

.card {
    display: flex;
    flex-direction: row !important;
    --bs-card-inner-border-radius: unset;
    border: unset;
}

.card-header {
    max-width: 180px;
    background-color: #1e3190 !important;
    padding: 0;
    height: 100vh;
    position:fixed;
    left:0;
    top:0;
}

.navbar {
    background-color: #1e3190 !important;
    width: 153px;
}

.navbar-brand {
    padding-left: 30px;
    color: #c3c5cf;
}

.brd-left-active {
    border-left: 5px solid #c3c5cf;
    color: white;
}

.brd-left-inactive {
    border-left: 5px solid transparent;
}

.navbar-brand:hover {
    color: white;
    border-left: 5px solid #c3c5cf;
}


/* -----------------CSS for Impressum ----------------- */

.impressum-margin-top {
    margin-top: 50px;
}


/* -----------------End CSS for Impressum ----------------- */


/* -----------------CSS for Board ----------------- */

.titleBoard{
    margin-left: 179px;
    margin-bottom: 50px;
    margin-top: -31px;
}

.board {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 80vw !important;
    margin-left: -179px;
}

.board-col {
    min-height: 80vh;
    background-color: #f4f3fb;
    padding: 0.5rem;
}

.card-body-board {
    padding: 0.5rem;
    margin: 0.5rem;
    margin-top: 0.5rem !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: white;
    border-left: 8px solid rgb(255, 165, 0, 0.7) !important;
}

.card-body-board p {
    font-size: .85rem;
    color: #A5A5A5;
}

.avatar-board {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.no-wrap {
    flex-wrap: nowrap !important;
}


/* -----------------CSS for Backlog ----------------- */

p {
    color: black;
    font-size: 12px;
    line-height: 14px;
}

.text {
    margin-top: -5px;
}

.bg {
    /* Tasks Container */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid rgba(157, 153, 153, 0.1);
    margin: 10px;
    padding: 10px;
    background-color: #F4F2FB;
    width: 100%;
    margin-left: 1px;
}

.justify-content-center, .justify-content-end {
    display: flex;
}


/* Colors of Urgency */

.low {
    border-right: 4px solid var(--low);
}

.high {
    border-right: 4px solid var(--high);
}

.medium {
    border-right: 4px solid var(--medium);
}

/* Background
/* Colors of Category */

.Management {
    border-left: 4px solid var(--managment);
}

p.Management  {
    color:var(--managment);
    border-left:unset;
}

.Sales{
    border-left: 4px solid var(--sales);
}

p.Sales  {
    color:var(--sales);
    border-left:unset;
}

.Product {
    border-left: 4px solid var(--product);
}

p.Product {
    color:var(--product);
    border-left:unset;
}

.Marketing {
    border-left: 4px solid var(--marketing);
}

p.Marketing {
    color:var(--marketing);
    border-left:unset;
}

.contentAvatar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
    /* border: 1px solid black; */
    min-width: 150px;
}

.iconAvatarBacklog {
    width: 35px;
    object-fit: cover;
    border-radius: 100%;
    border: 4px solid orange;
    margin-right: 15px;
}

.contentCategory {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 65px;
    width: 100%;
    padding: 10px;
    /* border: 1px solid black; */
}

.contentDescription {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 90px;
    width: 100%;
    /* border: 1px solid black; */
}

.contentEdit {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    width:100%;
}

.iconBacklog {
    width: 20px;
    object-fit: contain;
    margin-right: 15px;
    cursor: pointer;
}

.avatarBacklog{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* opacity: 0.6; */
    border: 4px solid transparent;
    margin-right: 5px;
}

@media (min-width:299px) and (max-width:995px){
    .bg{
        /* width: 100%; */
        flex-direction: column;
    }

    .contentDescription{
        margin-left: unset;
    }

    .contentEdit{
        margin-left: unset;
        margin-top: -10px;
    }

    .iconBacklog{
        width: 17px;
    }

    .avatarBacklog{
        width: 40px;
        height:40px;
    }

    .table{
        display: none;
    }

    .contentCategory{
        margin-left: unset;
        padding: unset;
    }

    .contentAvatar{
        flex-direction: column;
        align-items: unset;
    }

    .card-body{
        padding:unset;
    }

    .centerContainer{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    /* .card-header{
        display: none;
    } */


}


/* -----------------End region CSS for Backlog ----------------- */


/*#region addTasks*/

form label {
    font-weight: bold;
    color: var(--blue);
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    opacity: 0.6;
    border: 4px solid transparent;
    margin-right: 5px;
}

.avatar:hover {
    opacity: 1;
    cursor: pointer;
}

.avatar-selected {
    opacity: 1;
    border: 4px solid var(--blue);
}

#form {
    background-color: var(--violet);
    border-radius: 10px;
}

textarea {
    resize: none;
}

.btn-primary {
    background-color: var(--blue);
}

#btn-create {
    background-color: var(--blue);
    border: 1px solid transparent;
    font-weight: bold;
}

#btn-create:hover {
    background-color: unset;
    color: var(--blue);
    border: 1px solid;
    transition: 225ms ease-in-out;
}

#cancel {
    color: var(--blue);
    font-weight: bold;
}

#cancel:hover {
    border: 1px solid;
    transition: 225ms ease-in;
}

:root {
    --blue: #203192;
    --violet: #f4f2fb;
    /* Categories Colors */
    --managment: #892299;
    --sales: #8B6969;
    --product: #4faadf;
    --marketing: #adb63a;
    /* Urgencies Colors */
    --low: green;
    --high: red;
    --medium: orange;
}

#category,
#curDate,
#dueDate:hover {
    cursor: pointer;
}

.d-none {
    display: none;
}

#dialogNewUser,
#dialogEditTask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

#ContentNewUser {
    background-color: var(--violet);
    border: 2px solid var(--blue);
    border-radius: 10px;
    padding: 30px;
}

#cross {
    display: flex;
    justify-content: flex-end;
}

#cross img {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

#userNew-2,
#userNew-3 {
    object-fit: contain !important;
}

.scaleIn{
    animation: scale-in 225ms ease-in-out;
    transform-origin: 50% 100% 100%;
}

@keyframes scale-in{
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/*#endregion */

@media(max-width: 1200px) {
    .board-col {
        min-height: unset;
        height: 40vh !important;
    }
}

@media(min-width: 768px) {
    /* .container {
        max-width: 870px;
    } */
}

@media(max-width: 1000px) {
    .board-col {
        height: 177px !important;
        min-width: 60vw;
    }
    .col {
        min-width: 60vw;
    }
}