body {
    margin: 0;
    font-family: 'PT Sans';
}

.card {
    display: flex;
    flex-direction: row !important;
    min-height: 95vh;
}

.card-header {
    max-width: 200px;
    background-color: #1E3190 !important;
}

.container-fluid {
    background-color: #1E3190 !important;
}

.navbar {
    background-color: #1E3190 !important;
}